---
import CardService from '../components/CardService.astro';
---
<section class="flex flex-row gap-10 justify-center">
    <CardService img="/descargar.jpg" title="Hello1" description="Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto"></CardService>
    <CardService img="/descar.jpg" title="Hello2" description="Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto"></CardService>
    <CardService img="/descar2.jpg" title="Hello3" description="Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto"></CardService>
</section>
